.booking-welcome {
  grid-row: 3 / 4;
  grid-column: 1 / -1;

  height: 25rem;
  padding: 5% 0;

  background-image: url(../../images/wallpaper--1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  h1 {
    color: $color-secondary;
    text-shadow: 2px 2px 5px black;
  }
}
.booking-container {
  grid-column: 1 / -1;
  grid-row: 4 / 5;

  height: 100rem;
  padding: 5rem 10%;
  overflow: hidden;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $bp-medium) {
    padding: 5rem 2rem;
  }
  @media only screen and (max-width: $bp-small) {
    padding: 2rem;
  }

  &__card {
    height: 30rem;
    width: 80%;
    margin: 2rem;
    cursor: pointer;
    background-color: $color-secondary;
    box-shadow: $box-shandow;
    border-bottom-right-radius: 70px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media only screen and (max-width: $bp-large) {
      width: 70%;
      height: 22rem;
      overflow: hidden;
    }
    @media only screen and (max-width: $bp-medium) {
      width: 90%;
    }
    @media only screen and (max-width: $bp-small) {
      height: 50rem;
      width: 95%;
      flex-direction: column;
    }
  }
  &__picture {
    height: 30rem;
    width: 30rem;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 100%;
      width: auto;

      @media only screen and (max-width: $bp-large) {
        height: 80%;
      }
    }
  }
  &__box {
    height: 30rem;
    width: 100%;
    padding: 5rem 2rem 1rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    @media only screen and (max-width: $bp-large) {
      padding: 5rem 0;
    }
    @media only screen and (max-width: $bp-small) {
      height: 15rem;
      padding: 0;
    }
  }
}

.booking-see-more {
  grid-column: 1 / -1;
  grid-row: 5 / 6;

  width: 100%;
  height: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
#button-see-less {
  display: none;
}

.booking-whyUs {
  grid-column: 1 / -1;
  grid-row: 6 / 7;

  width: 100%;
  height: 20rem;
  padding: 0 5%;
  background-color: $color-tertiary;

  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $bp-small) {
    height: 20rem;
    padding: 0 10%;
  }

  h1 {
    color: white;
  }
}

.booking-motivations {
  grid-column: 1 / -1;
  grid-row: 7 / 8;

  width: 100%;
  height: auto;
  background-color: $color-tertiary;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  @media only screen and (max-width: $bp-large) {
    justify-content: center;
  }

  @media only screen and (max-width: $bp-medium) {
    height: auto;
    padding-bottom: 5rem;
  }

  &__container {
    width: 80%;
    height: 40rem;
    margin-bottom: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
      height: 40rem;
      width: 90%;
    }
  }
  &__picture {
    height: 100%;
    width: 40rem;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media only screen and (max-width: $bp-medium) {
      width: 60rem;
    }

    @media only screen and (max-width: $bp-small) {
      height: 30rem;
      width: 100%;
      order: 1;
    }

    &--1 {
      background-image: url(../../images/whyus--1.jpg);
    }
    &--2 {
      background-image: url(../../images/whyus--2.jpg);
    }
    &--3 {
      background-image: url(../../images/whyus--3.jpg);
    }
    &--4 {
      background-image: url(../../images/whyus--4.jpg);
    }
  }
  &__text {
    height: 80%;
    width: 40rem;
    z-index: 2;
    padding: 3rem;
    box-shadow: $box-shandow;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      margin-bottom: 2rem;
    }

    @media only screen and (max-width: $bp-small) {
      height: 30rem;
      width: 90%;
      order: 2;

      h3 {
        font-size: 1.7rem;
      }
    }

    &--left {
      margin-right: -5rem;
      background-color: $color-primary;

      @media only screen and (max-width: $bp-medium) {
        margin-right: -10rem;
      }
      @media only screen and (max-width: $bp-small) {
        margin: -5rem 0 0 0;
      }
    }
    &--right {
      margin-left: -5rem;
      background-color: $color-secondary;

      @media only screen and (max-width: $bp-medium) {
        margin-left: -10rem;
      }
      @media only screen and (max-width: $bp-small) {
        margin: -5rem 0 0 0;
      }
    }
  }
}

.booking-reviews {
  grid-column: 1 / -1;
  grid-row: 8 / 9;

  width: 100%;
  height: 60rem;
  padding: 5rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__container {
    width: 100%;
    height: 30rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__box {
    height: 100%;
    width: 60%;
    margin: 0 2rem;
    padding: 2rem 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $bp-small) {
      width: 85%;
      margin: 0;
    }

    h1 {
      align-self: flex-end;
    }
  }
}
