.button-link {
  text-decoration: none;
  font-size: 2.4rem;
  margin: 0 1rem;
  text-transform: uppercase;
  color: $color-text-dark;
  letter-spacing: 0.1rem;

  @media only screen and (max-width: $bp-small) {
    font-size: 1.5rem;
    margin: 0 0.5rem;
  }
}
.button-cta {
  text-decoration: none;
  font-size: 2.2rem;
  text-transform: uppercase;
  background-color: $color-tertiary;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 3px;
  box-shadow: $button-shadow;
  transition: all 0.2s ease-in;
}
.button-cta:visited {
  box-shadow: $button-shadow;
  transform: translateY(0);
}
.button-cta:hover {
  transform: translateY(-5px);
  box-shadow: $button-shadow-hover;
}
.button-cta:active {
  transform: translateY(3px);
  box-shadow: $button-shadow;
}
.button-cta:focus {
  outline: 0;
}

// NAVIGATION BUTTON
.button-menu {
  background-color: $color-primary;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  border: none;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 3px;
  background-color: transparent;
  color: $color-text-dark;
  transition: all 0.2s ease-in;

  @media only screen and (max-width: $bp-small) {
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
  }
}
.button-menu:hover {
  color: rgba($color-text-dark, 0.5);
}
.button-menu:focus {
  outline: 0;
}

// READ MORE BUTTON
.button-readmore {
  font-size: 1.4rem;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  text-transform: uppercase;
  color: $color-text-dark;
  background-color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: $button-shadow;
  transition: all 0.2s ease-in-out;
}
.button-readmore:hover {
  transform: translateY(-5px);
  box-shadow: $button-shadow-hover;
}
.button-readmore:active {
  transform: translateY(3px);
  box-shadow: $button-shadow;
}
.button-readmore:focus {
  outline: 0;
}

// MODAL READ MORE BUTTON
.button-carousel {
  height: 5rem;
  width: 5rem;
  margin: 0 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in;

  @media only screen and (max-width: $bp-small) {
    margin: 0 0.5rem;
  }
}

// MODAL
// close btn
.button-x {
  height: 3.5rem;
  width: auto;
  cursor: pointer;
}

// LOG IN OR SIGN UP BUTTON
.button-account {
  padding: 1rem 2rem;
  font-size: 1.3rem;
  letter-spacing: 2px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: $color-text-dark;
  transition: all 0.2s ease-in-out;
}
.button-active {
  color: $color-tertiary;
  font-size: 3rem;

  @media only screen and (max-width: $bp-medium) {
    font-size: 2.5rem;
  }
}

.button-connect {
  padding: 1rem 2rem;
  letter-spacing: 2px;
  width: 30rem;
  border-radius: 5px;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
  box-shadow: $button-shadow;
  color: $color-text-dark;
}
