.map {
  grid-column: 1 / -1;
  grid-row: 3 / 4;

  height: 50rem;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(../../images/wallpaper--11.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media only screen and (max-width: $bp-small) {
    height: 40rem;
  }
}
.contact {
  grid-column: 1 / -1;
  grid-row: 4 / 5;

  height: 30rem;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  &__box {
    height: 40rem;
    width: 80rem;
    border-radius: 3px;
    box-shadow: $box-shandow;
    margin-top: -50rem;
    background-color: $color-secondary;

    display: flex;

    @media only screen and (max-width: $bp-medium) {
      height: 70rem;
      width: 95%;
      margin-top: -20rem;

      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @media only screen and (max-width: $bp-small) {
      height: 60rem;
    }
  }
  &__message {
    height: 100%;
    width: 60%;
    padding: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @media only screen and (max-width: $bp-medium) {
      width: 90%;
    }
    @media only screen and (max-width: $bp-small) {
      padding: 4rem 1rem;
    }

    form {
      height: 100%;
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-around;

      input {
        border: none;
        border-bottom: 1px solid $color-tertiary;
        height: 3rem;
        padding: 0 1rem;
        color: $color-tertiary;
      }
      input::placeholder {
        color: $color-tertiary;
      }
      textarea {
        border: none;
        border-bottom: 1px solid $color-tertiary;
        padding: 0 1rem;
        color: $color-tertiary;
      }
      textarea::placeholder {
        color: $color-tertiary;
      }
    }
  }

  &__info {
    height: 100%;
    width: 40%;
    background-color: $color-tertiary;
    padding: 5rem 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    @media only screen and (max-width: $bp-medium) {
      height: auto;
      width: 100%;
      padding: 2rem 10%;
    }

    a {
      text-decoration: none;
      font-size: 2rem;
      color: white;
      vertical-align: middle;
    }

    &__box {
      height: 5rem;
      width: 100%;

      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
  &-img {
    height: 3rem;
    width: auto;
    margin-right: 2rem;
  }
}

.message-hidden {
  display: none;
}
