.logo {
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  width: 100%;
  min-height: 10rem;
  background-color: $color-secondary;

  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation {
  grid-column: 1 / -1;
  grid-row: 2 / 3;

  width: 100%;
  min-height: 5rem;

  background-color: deepskyblue; //trebuie schimbat

  display: flex;
  justify-content: center;
  align-items: center;
}
