.picture-onPage {
  height: 50rem;
  width: 50rem;
  padding: 2rem;
  background-color: white;
  border-radius: 5px;
  margin-top: -20rem;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $bp-medium) {
    height: 30rem;
    width: 30rem;
    margin-top: -10rem;
  }
  @media only screen and (max-width: $bp-small) {
    height: 35rem;
    width: 35rem;
    margin-top: -20rem;
  }

  img {
    height: 48rem;
    width: auto;
    border-radius: 5px;

    @media only screen and (max-width: $bp-medium) {
      height: 28rem;
    }
    @media only screen and (max-width: $bp-small) {
      height: 33rem;
    }
  }
}

// Background picture
.bkg-pic {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
