// Fonts
@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');

$text-primary: 'Scheherazade New', serif;
$text-hand: 'Grechen Fuemen', cursive;

// Breakpoints
$bp-4k: 156em; // 2500px
$bp-largest: 75em; // 1200/16 = 75em
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

// Colors
$color-primary: #faedcd;
$color-secondary: #f8f9fa;
$color-tertiary: #d4a373;

$color-text-dark: #212529;
$color-text-light: #dee2e6;

// Shadows
$button-shadow: 5px 10px 15px rgba(black, 0.3);
$button-shadow-hover: 5px 15px 20px rgba(black, 0.6);

$box-shandow: 2px 2px 10px rgb(0 0 0 / 20%);
