// Fonts
@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;700&display=swap');

$text-primary: 'Scheherazade New', serif;

// Breakpoints
$bp-4k: 156em; // 2500px
$bp-largest: 75em; // 1200/16 = 75em
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

// Colors
$color-primary: #faedcd;
$color-secondary: #f8f9fa;
$color-tertiary: #d4a373;

$color-text-dark: #212529;
$color-text-light: #dee2e6;
